body {
  margin: 0;
  font-family: poppins;
}

@media screen and (max-width: 950px) {
  .nav-menu-container-div,
  .nav-menu-container,
  .highlight-cart-container,
  .highlight-specialbox-container,
  .special-food-specialbox-container {
    flex-direction: column;
    margin-left: 0px;
  }
}

.nav-menu-container-div1 {
  margin-left: 31%;
  position: relative;
  flex-direction: wrap;
}
.nav-menu-container-div {
  margin-left: 7%;
  position: relative;
  display: flex;
}

.nav-main-container {
  top: 15px;
  border: 2px;
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
}
.nav-logo-container {
  border: 5px;
  top: 15px;
  display: flex;
}
.nav-menu-container {
  height: 100%;
  border: 5px;
  margin-top: 25px;
  position: relative;
  display: flex;
}
.nav-menu-li {
  display: inline;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bolder;
  display: flex;
}
.main-container {
  border: 2px;
  background-color: #495e57;
  height: 210px;
  width: 100%;
  position: relative;
}
.main-title {
  font-size: 18px;
  color: #f4ce14;
  margin-bottom: 2px;
}
.main-chicago {
  padding: 0;
  margin-bottom: 1px;
  font-size: 16px;
  color: white;
}

.main-about {
  color: white;
  font-size: 11px;
  max-width: 22ch;
  padding: 0;
  margin-bottom: 11px;
}

.main-reserve-button {
  width: 110px;
  height: 30px;
  padding: 0;
  background-color: #f4ce14;
  border-radius: 7px;
}

.main-logo {
  position: absolute;
  margin-top: 20px;
  left: 61%;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
}

.highlight-main-container {
  width: 100%;
  margin-top: 40px;
  height: 600px;
  border: 5px;
  position: relative;
}

.highlight-special-paragraph {
  left: 31%;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.highlight-order-button {
  margin-top: 30px;
  border-color: #f4ce14;
  background-color: #f4ce14;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  position: absolute;
  margin-left: 64%;
}

.special-food-specialbox-container {
  height: 400px;
  border: 20px;
  position: absolute;
  left: 31%;
  display: flex;
}

.special-food-container {
  width: "200px";
  float: "left";
  border: "1px solid #EDEfEE";
  left: "50%";
  height: "350px";
  margin-top: "20px";
  margin-left: "15px";
  background: "#EDEfEE";
}

.special-food-image {
  width: 200px;
  height: 160px;
  border-radius: 10px;
}

.special-food-title {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.special-food-description {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 10px;
}

.special-food-price {
  margin-left: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #ee9972;
}

.special-food-order {
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
}

.booking-form-container {
  margin-top: 70px;
  position: relative;
  left: 30%;
  height: 100%;
  border-radius: 5px;
  font-size: 14px;
  color: #495e57;
  font-weight: bold;
  border: 3px solid #495e57;
}

.booking-form-hidden-container {
  position: absolute;
  width: 100%;
  height: 99%;
  border-radius: 5px;
  font-size: 14px;
  color: #495e57;
  font-weight: bold;
  border: 3px solid #495e57;
}

.booking-form-hidden-half-container {
  position: absolute;
  width: 45%;
  height: 99%;
  border-radius: 5px;
  font-size: 14px;
  color: #495e57;
  font-weight: bold;
  border: 3px solid #495e57;
}

.booking-form-input {
  margin-left: 20px;
  height: 25px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.booking-button-container {
  position: absolute;
  margin-left: 350px;
  margin-top: 30px;
  left: 1%;
}

.booking-form-button {
  width: 135px;
  height: 35px;
  padding: 0;
  background-color: #f4ce14;
  border-radius: 5px;
  margin-top: 5px;
}

.booking-time-options {
  margin-top: 10px;
  margin-left: 20px;
  height: 35px;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}
