.body {
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

.primary-colors {
  color: #495e57;
}

.display-text-fonts {
  font-size: 64pt;
}

.subtitle-text-fonts {
  font-size: 40pt;
}

.section-title-text-fonts {
  font-size: 20pt;
  text-transform: uppercase;
  max-width: 12;
}

.navigation-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }
}

.card-title-text-fonts {
  font-size: 40pt;
  font-weight: bold;
}

.paragraph-text-fonts {
  font-size: 40pt;
  line-height: 1.5;
}

.h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

.h2 {
  margin-bottom: 20px;
  text-align: center;
}

.p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

.your-name {
  background-color: rgb(255, 220, 105);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

.a {
  background-color: yellowgreen;
}

.course-image {
  width: 300px;
}

.your-name h2 {
  color: olivedrab;
}
